In [13]:
import pandas as pd
import numpy as np

Идея!
Попробавать рандомный лес

Попробовать классификацию

Посмотреть на фичи

In [9]:
!unzip '/content/drive/MyDrive/Data for Colab/Synthtanic/train.csv.zip' train.csv

Archive:  /content/drive/MyDrive/Data for Colab/Synthtanic/train.csv.zip
  inflating: train.csv

In [12]:
train = pd.read_csv('/content/train.csv')

In [15]:
train.head(20)

    PassengerId  Survived  Pclass  ...    Fare   Cabin  Embarked
0             0         1       1  ...   27.14  C12239         S
1             1         0       3  ...   13.35     NaN         S
2             2         0       3  ...   71.29     NaN         S
3             3         0       3  ...   13.04     NaN         S
4             4         1       3  ...    7.76     NaN         S
5             5         0       2  ...    6.71     NaN         S
6             6         0       3  ...    9.77     NaN         S
7             7         1       3  ...   31.50     NaN         S
8             8         0       1  ...   73.02   A7253         S
9             9         0       2  ...    9.14   D2969         C
10           10         0       3  ...    8.06     NaN         S
11           11         0       1  ...   31.50   A9055         S
12           12         0       3  ...    9.34   C8674         S
13           13         1       2  ...    7.88     NaN         Q
14           14         1       1  ...   28.40   D6945         C
15           15         1       3  ...    9.31     NaN         S
16           16         0       3  ...    7.92     NaN         S
17           17         0       1  ...   29.84     NaN         S
18           18         0       2  ...    8.85     NaN         S
19           19         1       1  ...  205.01   B7010         Q

[20 rows x 12 columns]

Смотрим на нули

In [18]:
train.Survived.value_counts()

0    57226
1    42774
Name: Survived, dtype: int64

In [19]:
train.Pclass.value_counts()

3    41006
1    30315
2    28679
Name: Pclass, dtype: int64

Survived  Pclass
0         3         30865
1         1         17576
          2         15057
0         2         13622
          1         12739
1         3         10141
dtype: int64